
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



/* form styles */
#contact-form {
  margin-top: 5px;
}

#contact-form input {
  width: 40%;
}

#contact-form button {
  min-width: 50px;
}

#contact-form .save {
  display: none;
}

/* list style */
#agenda {
  border-collapse: collapse;
  width: 100%;
}
 #agenda th, td {
  text-align: left;
  padding: 8px;
 }

 #agenda tr:nth-child(even){background-color: #f2f2f2}
 #agenda th {
    background-color: #00aeef;
    color: white;
}



