
body {
  padding: 50px;
  min-height: calc(100vh - 120px);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:  #F4F4F4;
  background-color: #3E3C48;
  background-image:linear-gradient(147deg, rgba(23, 116, 149, 0.1) 0%, rgba(56, 208, 168, 0.1) 100%), url('../img/background.jpg') ;
  background-size: cover;
  background-position-y: 5%; 

}

body, html {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #F4F4F4 ;
}


input {
  border: none;
  border-radius: 30px;
  padding:5px 10px;
  outline: none;
  background-color: #F4F4F4;
  color: #3E3C48;

}

button {
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  color: #3E3C48;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}


/* list style */
#agenda {
  border-collapse: collapse;
  width: 100%;
}
 #agenda th, td {
  text-align: left;
  padding: 10px;
 }

 #agenda th:last-of-type {
   width: 30px;
 }

 #agenda thead tr {
   height: 60px;
   border-bottom: 2px solid #3E3C48;
 }

 #agenda tr {
   background-color: rgb(34, 164, 156);
 }

 #agenda tr:nth-child(even){
   background-color: rgb(56, 208, 168);
  }

 #agenda th {
    background-color: rgb(23, 116, 149);
    color: #F4F4F4;
  }



